@{
  Layout = "_Layout"; 
}

@model BestRestaurant.Models.Cuisine

<h4> Add a new Cuisine </h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new Cuisine" />
}

<p>@Html.ActionLink("Show all categories", "Index")</p> 